<div class="form" [formGroup]="form">
  <div class="form-group">
    <label [ngClass]="question.required?'required':''" [attr.for]="question.key">{{question.label}}</label>
    <ng-container [ngSwitch]="question.controlType">
      <ng-container *ngSwitchCase="'textbox'">
        <label *ngIf="question.required; else notMandatoryBlock " for="question.key"   class="tooltip tooltip-validation tooltip-sm tooltip-right"
             [class.invalid]="form.controls[this.question.key].invalid
            && (form.controls[this.question.key].dirty || form.controls[this.question.key].touched)">
          <input [formControlName]="question.key" [id]="question.key" type="text" style="width: 225px" >
          <span class="tooltip-content">
            This field cannot be empty!
          </span>
        </label>
        <ng-template #notMandatoryBlock>
          <input [formControlName]="question.key" [id]="question.key" type="text" style="width: 225px">
        </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="'dropdown'">
         
        <div  class="select" style="width: 225px" >
        <select [id]="question.key" [formControlName]="question.key" >
          <option *ngFor="let opt of question.options" [value]="opt.key" >{{opt.value}}</option>
        </select>
        <span class="tooltip-content" style="color: #c92100" *ngIf="form.controls[this.question.key].invalid
        && (form.controls[this.question.key].dirty || form.controls[this.question.key].touched)">
            This field cannot be empty!
          </span>
      </div>
     

      </ng-container>
    </ng-container>
  </div>
</div>